.my-account {
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}

.my-account-left-vertical-menu {
  width: 27%;
}

.my-account-right-details {
  width: 66%;
  /* background-color: yellow; */
}

/* Left Nav start */
.my-account-left-nav ul li {
  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-grey-400);
  cursor: pointer;
}

.my-account-left-nav ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-grey-400);
}

.my-account-left-nav ul li a:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-600);
}

.my-account-details-menu-active a {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--color-grey-600) !important;
}

/* Right Side Form css start */
.my-account-details {
  font-weight: 500;
  font-size: 28px;
}

.my-account-form-control {
  gap: 30px;
  width: 100%;
}

.my-account-form-control-name {
  width: 50%;
}

.form-control {
  margin: 25px 0;
}

.my-account-password-area {
  border: 1px solid var(--color-grey-300);
  padding: 15px;
}
