/* Left Nav start */
.my-account-order-menu-active a {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--color-grey-600) !important;
}

/* Right Side Form css start */
.my-account-details {
  font-weight: 500;
  font-size: 28px;
}

.account-head-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.my-account-no-order-msg {
  text-align: center;
  padding: 50px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.my-account-order-go-shop-btn {
  margin: auto;
  display: block;
}
