/* ======= Responsive Start =======*/

/* 'lg' applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .banner-content .left-content h2 {
    font-size: 70px;
  }

  .banner-content img {
    max-width: 400px;
    width: 100%;
  }
}

/* 'md' applies to small device (landscape phones, loess then 768px) */
@media (max-width: 768px) {
  .banner-content .left-content h2 {
    font-size: 80px;
  }

  .header-top-content {
    display: flex;
    flex-direction: column;
  }

  .header-top-nav,
  .icon-buttons,
  .navigation-right {
    margin-top: 10px;
  }

  .search-box,
  .navigation-right {
    display: none;
  }

  .navigation-left {
    margin: auto;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    max-height: 400px;
    height: 100%;
  }

  .left-content {
    width: 100%;
    text-align: center;
  }

  .banner-content img {
    display: none;
  }
}

/* mobile responsive start */
/* sm applies to x-small devices (portrait phones, less than 576px)  */
@media (max-width: 576px) {
  .discount-alert,
  .header-top-content {
    display: none;
  }

  .header-mid .icon-buttons {
    margin-top: -10px;
  }

  .navigation {
    display: none;
  }
}
