/* ======= Responsive Start =======*/

/* 'lg' applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .banner-content .left-content h2 {
    font-size: 60px;
  }

  .banner-content img {
    max-width: 400px;
    width: 100%;
  }
}

/* 'md' applies to small device (landscape phones, loess then 768px) */
@media (max-width: 768px) {
  .header-top-content,
  .header-mid,
  .navigation {
    display: flex;
    flex-direction: column;
  }

  .header-top-nav,
  .icon-buttons,
  .navigation-right {
    margin-top: 10px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    max-height: 400px;
    height: 100%;
  }

  .left-content {
    width: 100%;
    text-align: center;
  }

  .banner-content img {
    visibility: hidden;
  }
}

/* Tablet responsive end */

/* mobile responsive start */
/* sm applies to x-small devices (portrait phones, less than 576px)  */
@media (max-width: 576px) {
  .discount-alert p {
    line-height: 2;
  }

  .header-top-nav {
    visibility: hidden;
    margin: -10px;
  }

  .navigation {
    visibility: hidden;
    margin: -30px;
  }

  .banner-content .left-content h2 {
    font-size: 60px;
  }
}
/* mobile responsive end */
/* responsive css end */
