/* Left Side Table Content Start */
.shopping-cart-table {
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
}

.shopping-cart-products-list {
  width: 67%;
}

.shopping-products-list-head,
.shopping-cart-item {
  width: 100%;
}

.single-head-title {
  width: 22%;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-grey-600);
}

.single-head-title-products {
  width: 34%;
}

.single-cart-item {
  width: 22%;
  text-align: center;
  padding: 5px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-grey-500);
  padding: 25px 0;
  margin-right: 0;
}

.single-cart-item-nameimage {
  gap: 20px;
  width: 34%;
  align-items: center !important;
  flex-wrap: wrap;
}

.single-cart-item-image {
  height: 100px;
  width: 100px;
  position: relative !important;
  /* padding: 10px; */
}

.single-cart-item-image img {
  width: 100%;
  height: 100%;
}

.single-cart-product-delete-icon {
  background-color: var(--color-white);
  padding: 4px 8px;
  border-radius: 25px;
  color: var(--color-grey-600);
  cursor: pointer;
  position: absolute !important;
  top: -10px;
  right: -10px;
}

.single-cart-product-delete-icon > p {
  font-size: 14px !important;
  font-weight: 600;
}

.single-cart-item > p,
.single-cart-item-name > p {
  font-size: 16px !important;
}

.single-cart-item-name {
  display: block;
}

.single-cart-item-quantity {
  align-items: center;
  flex-shrink: 0;
}

.single-cart-item-quantity input {
  margin: 0;
}

.single-cart-item-subtotal p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-grey-700);
}

.shopping-cart-coupon-updatecart {
  gap: 10px;
  flex-wrap: wrap;
}

.shopping-cart-coupon {
  gap: 5px;
}

/* Left Side Table Content End */

/* Right Side Shopping Table Content Start */
.shopping-cart-totals {
  width: 30%;
  padding: 20px 10px;
  border: 1px solid var(--color-grey-300);
}

.cart-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-grey-700);
}

.shopping-cart-subtotal p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-grey-500);
  padding-bottom: 5px;
}

.shopping-cart-shipping-address {
  padding: 0 10px;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.form-label-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-grey-600);
}

.form-control {
  margin: 6px 0;
}

.select-control {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-grey-400);
  width: 100%;
  outline: none;
  border: 1px solid var(--color-grey-300);
  padding: 11px 20px;
  margin-top: 13px;
}

.placeholder-control::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-grey-400);
}

.shopping-cart-subtotal-bellow {
  color: var(--color-grey-700);
}

.shopping-cart-subtotal-bellow p:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.shopping-cart-subtotal-bellow p:last-child {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.shopping-cart-process-tocheckout-btn {
  display: block;
  margin: auto;
  width: 70%;
}
/* Right Side Shopping Table Content End */
