:root {
  --color-blue-400: #53b1fd;
  --color-blue-500: #68b4ff;
  --color-blue-800: #1849a9;

  --color-grey-100: #f2f4f7;
  --color-grey-200: #e4e7ec;
  --color-grey-300: #d0d5dd;
  --color-grey-400: #98a2b3;
  --color-grey-500: #667085;
  --color-grey-600: #475467;
  --color-grey-700: #344054;
  --color-grey-800: #1d2939;
  --color-grey-900: #101828;

  --color-success: #00ab55;
  --color-danger: #f04438;
  --color-white: #ffffff;

  --color-background: #f5f5f5;
  --font-primary: "Poppins", sans-serif;

  --box-shadow-1: 0px 0px 7px rgba(16, 24, 40, 0.05);
}

/* ========== Reset CSS ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-grey-400);
  font-family: var(--font-primary);
  background-color: var(--color-white);
}

a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-grey-400);
  transition: all 300ms ease-in-out;
}

a:hover {
  color: var(--color-grey-500);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--color-grey-100);
}

input,
button {
  font-family: var(--font-primary);
}

input::placeholder {
  color: var(--color-grey-300);
}

/* ===== Utilities Class ===== */
.container {
  margin: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 25px;
  border-radius: 2px;
}

.btn-sm {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 15px;
  border-radius: 2px;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-grey-900);
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-blue-500);
  color: var(--color-grey-800);
  transition: all 300ms ease-in-out;
}

.heading {
  font-weight: 500;
  font-size: 22px;
  color: var(--color-grey-600);
}
/* ===== Utilities Class End ===== */

/* ===== Discount alert start ===== */
.discount-alert {
  padding: 12px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue-500);
}

.discount-alert > p {
  font-size: 12px;
  font-weight: 400;
}

.discount-alert > p .category {
  margin: 0 5px;
  padding: 4px 6px;
  color: var(--color-blue-500);
  background-color: var(--color-white);
}

.discount-alert > small {
  font-weight: 400;
  font-size: 10px;
}
/* ===== Discount alert end ===== */

/* ===== Header area start ===== */
.header-top-content {
  padding: 20px 0;
}

.header-top-content > p {
  color: var(--text-secondary);
}

.header-top-nav ul {
  gap: 20px;
}

.header-top-nav ul li {
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

/* ===== Header mid ===== */
.header-mid {
  padding: 5px 0;
  gap: 15px;
}

.header-mid > .logo {
  max-width: 140px;
  flex-shrink: 0;
}

.header-mid > .logo > img {
  width: 100%;
}

.search-box {
  display: flex;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px 10px 15px;
  background-color: var(--color-grey-100);
}

.search-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-grey-500);
}

.search-box button {
  width: 50px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.icon-buttons {
  gap: 25px;
  display: flex;
  align-items: center;
}

.icon-buttons > a {
  display: flex;
  align-items: center;
}

/* ===== Header Navigation ===== */
.navigation {
  padding: 18px 0;
}

.navigation nav ul {
  gap: 35px;
}

.navigation-left ul li {
  font-weight: 500;
  list-style: none;
}

.navigation-right {
  gap: 20px;
}

.navigation-right a {
  font-weight: 600;
  color: var(--color-grey-500);
}

/* ===== Header area end ===== */

/* ===== Banner area Start ===== */
.banner-area {
  background-color: #f5f5f5;
}

.banner-content {
  max-height: 530px;
  height: 100%;
}

.left-content {
  color: var(--color-grey-800);
}

.left-content h5 {
  font-weight: 400;
  font-size: 18px;
}

.left-content h3 {
  font-size: 32px;
  font-weight: 600;
}

.left-content h2 {
  line-height: 1;
  font-size: 90px;
  font-weight: 700;
  color: var(--color-blue-800);
}

.left-content h2 span {
  color: var(--color-danger);
}

.left-content p {
  font-size: 16px;
  margin-bottom: 44px;
}

.left-content p span {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-blue-800);
}

.banner-content img {
  max-width: 600px;
  width: 100%;
}

/* ==== Banner area end ===== */

/* ===== Discount product start =====  */
.discount-product-area {
  padding: 90px 0;
  width: 100%;
}

.discount-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.single-discount-product {
  width: 32%;
  max-height: 160px;
  height: 100%;
  background-color: var(--color-grey-200);
  padding: 30px;
  gap: 10px;
  margin-bottom: 20px;
}

.discount-left-contents h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-grey-600);
  line-height: 1;
}

.discount-left-contents h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--color-blue-500);
  margin-top: 10px;
  line-height: 0.8;
}

.discount-left-contents > h2 .discount {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-blue-500);
}

.discount-left-contents > button {
  margin-top: 15px;
}

.single-discount-product img {
  max-width: 140px;
  width: 100%;
}

.middle-product {
  background-image: url("../images/deal-romos.png");
  object-fit: cover;
  height: 160px;
}

.middle-product .discount-left-contents {
  text-align: right;
}

.middle-product .discount-left-contents > p {
  color: var(--color-grey-600);
}

/* ===== Discount product End =====  */

/* ===== Featured product start =====  */
.featured-product-heading {
  margin-bottom: 50px;
}

.featured-products {
  width: 100%;
  margin-bottom: 100px;
  gap: 15px;
  flex-wrap: wrap;
}

.single-featured-product {
  width: 23%;
  flex-wrap: wrap;
  position: relative;
}

.featured-product-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
}

.featured-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-discount {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  color: var(--color-grey-200);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.featured-discount p {
  border-radius: 10px;
}

.featured-discount p:first-child {
  background-color: var(--color-success);
  padding: 2px 17px;
}

.featured-discount p:last-child {
  background-color: var(--color-danger);
  padding: 2px 12px;
}

.featured-product-content {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.featured-product-content p {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--color-grey-400);
}

.featured-product-content h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-500);
}

.featured-product-reviews {
  gap: 2px;
}

.featured-product-reviews i {
  line-height: 200px;
  font-size: 10px;
  color: var(--color-grey-500);
  line-height: 2;
}

.featured-product-price {
  gap: 5px;
}

.featured-product-price .previous-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-400);
  text-decoration-line: line-through;
}

.featured-product-price .discount-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-500);
}

.featured-product-content button {
  color: var(--color-grey-300);
  margin-top: 15px;
}
/* ===== Featured product end =====  */

/* ===== New Arrivals product start =====  */
.new-arrivals-product-heading {
  margin-bottom: 50px;
}

.new-arrivals-products {
  width: 100%;
  margin-bottom: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.new-arrivals-product {
  width: 23%;
  flex-wrap: wrap;
  position: relative;
}

.new-arrivals-product-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
}

.new-arrivals-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-arrivals-discount {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  color: var(--color-grey-200);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.new-arrivals-discount p {
  border-radius: 10px;
}

.new-arrivals-discount p:first-child {
  background-color: var(--color-success);
  padding: 2px 17px;
}

.new-arrivals-discount p:last-child {
  background-color: var(--color-danger);
  padding: 2px 12px;
}

.new-arrivals-product-content {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.new-arrivals-product-content p {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--color-grey-400);
}

.new-arrivals-product-content h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-500);
}

.new-arrivals-product-reviews {
  gap: 2px;
}

.new-arrivals-product-reviews i {
  line-height: 200px;
  font-size: 10px;
  color: var(--color-grey-500);
  line-height: 2;
}

.new-arrivals-product-price {
  gap: 5px;
}

.new-arrivals-product-price .previous-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-400);
  text-decoration-line: line-through;
}

.new-arrivals-product-price .discount-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-500);
}

.new-arrivals-product-content button {
  color: var(--color-grey-300);
  margin-top: 15px;
}
/* ===== New Arrivals product end =====  */

/* ===== Special Offer start ===== */
.special-offer {
  background-image: url("../images/Special-offer-bg.png");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px;
  margin-bottom: 100px;
}

.special-offer-left {
  gap: 15px;
}

.special-offer-left img {
  max-width: 89px;
  width: 100%;
}

.special-offer-left h3 {
  color: var(--color-grey-900);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.special-offer-left h3 small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grey-800);
}

/* ===== Special Offer end ===== */

/* ===== Browse Caegories start ===== */
.browse-categories-heading {
  margin-bottom: 50px;
}

.browse-categories {
  width: 100%;
  margin-bottom: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.browse-categorie {
  width: 23%;
  flex-wrap: wrap;
}

.browse-categorie-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
  background-color: var(--color-grey-100);
}

.browse-categorie-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.browse-categorie-content {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.browse-categorie-content p {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--color-grey-400);
}

.browse-categorie-content h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-500);
}

/* ===== Browse Caegories end ===== */

/* Support Categories start */
.supports {
  width: 100%;
  margin-bottom: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.support {
  width: 30%;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 10px;
}

.support-icon {
  width: 55px;
  margin: auto;
}

.support-icon img {
  width: 100%;
}

.support-content h3 {
  margin-top: 5px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-800);
}

.support-content h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-500);
}

.support-content p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* Support Categories end */

/* ===== Special Offer Top Fasion start ===== */
.special-offer-top-fasion {
  background-image: url("../images/Special-offer-bg.png");
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px;
  margin-bottom: 100px;
}

.top-fasion-left {
  gap: 15px;
}

.top-fasion-left img {
  max-width: 89px;
  width: 100%;
}

.top-fasion-left h3 {
  color: var(--color-grey-900);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.top-fasion-left h3 span {
  color: var(--color-success);
}

.top-fasion-left h3 small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grey-800);
}

/* ===== Special Offer Top Fasion end ===== */

/* ===== Latest News start ===== */
.latest-news-heading {
  margin-bottom: 50px;
}

.latest-news {
  width: 100%;
  margin-bottom: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.single-latest-news {
  width: 23%;
  flex-wrap: wrap;
  position: relative;
}

.single-latest-news-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
  background-color: var(--color-grey-100);
}

.single-latest-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.news-date {
  position: absolute;
  background-color: var(--color-grey-900);
  top: 20px;
  left: 20px;
  text-align: center;
  padding: 8px 10px;
  color: var(--color-grey-200);
}

.news-content {
  padding: 10px 0;
  width: 100%;
}

.news-content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-800);
  margin-top: 20px;
}

.news-content p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grey-400);
  margin-top: 10px;
  justify-content: justify;
}

/* ===== Latest News end ===== */
