:root {
  --color-blue-500: #68b4ff;
  --color-blue-400: #53b1fd;

  --color-grey-100: #f2f4f7;
  --color-grey-300: #d0d5dd;
  --color-grey-400: #98a2b3;
  --color-grey-500: #667085;
  --color-grey-600: #475467;
  --color-grey-700: #344054;
  --color-grey-800: #1d2939;
  --color-grey-900: #101828;

  --color-success: #00ab55;
  --color-danger: #f04438;
  --color-white: #ffffff;

  --color-background: #f5f5f5;
  --font-primary: "Poppins", sans-serif;

  --box-shadow-1: 0px 0px 7px rgba(16, 24, 40, 0.05);
}

/* ========== Reset CSS ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-grey-400);
  font-family: var(--font-primary);
  background-color: var(--color-white);
}

a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-grey-400);
  transition: all 300ms ease-in-out;
}

a:hover {
  color: var(--color-grey-500);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--color-grey-100);
}

input,
button {
  font-family: var(--font-primary);
}

input::placeholder {
  color: var(--color-grey-300);
}

/* ===== Utilities Class ===== */
.container {
  margin: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 25px;
  border-radius: 2px;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-blue-500);
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-blue-400);
}
/* ===== Utilities Class End ===== */

/* ===== Discount alert start ===== */
.discount-alert {
  padding: 12px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue-500);
}

.discount-alert > p {
  font-size: 12px;
  font-weight: 400;
}

.discount-alert > p .category {
  margin: 0 5px;
  padding: 4px 6px;
  color: var(--color-blue-500);
  background-color: var(--color-white);
}

.discount-alert > small {
  font-weight: 400;
  font-size: 10px;
}
/* ===== Discount alert end ===== */

/* ===== Header area start ===== */
.header-top-content {
  padding: 20px 0;
}

.header-top-content > p {
  color: var(--text-secondary);
}

.header-top-nav ul {
  gap: 20px;
}

.header-top-nav ul li {
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

/* ===== Header mid ===== */
.header-mid {
  padding: 5px 0;
}

.header-mid > .logo {
  max-width: 140px;
}

.header-mid > .logo > img {
  width: 100%;
}

.search-box {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  padding: 10px 10px 10px 15px;
  background-color: var(--color-grey-100);
}

.search-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-grey-500);
}

.search-box button {
  width: 50px;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.icon-buttons {
  gap: 25px;
  display: flex;
  align-items: center;
}

.icon-buttons > a {
  display: flex;
  align-items: center;
}

/* ===== Header Navigation ===== */
.navigation {
  padding: 18px 0;
}

.navigation nav ul {
  gap: 35px;
}

.navigation-left ul li {
  font-weight: 500;
  list-style: none;
}

.navigation-right {
  gap: 20px;
}

.navigation-right a {
  font-weight: 600;
  color: var(--color-grey-500);
}

/* ===== Header area end ===== */

/* ===== Banner area Start ===== */
.banner-area {
  background-color: #f5f5f5;
}

.banner-content {
  height: 100%;
  max-height: 530px;
}

.left-content {
  color: var(--color-grey-800);
}

.left-content h5 {
  font-weight: 400;
  font-size: 18px;
}

.left-content h3 {
  font-size: 32px;
  font-weight: 600;
}

.left-content h2 {
  line-height: 1;
  font-size: 90px;
  font-weight: 700;
  color: var(--color-blue-500);
}

.left-content h2 span {
  color: var(--color-danger);
}

.left-content p {
  font-size: 16px;
  margin-bottom: 44px;
}

.left-content p span {
  font-weight: 700;
  font-size: 20px;
}

/* ==== Banner area end ===== */
